@mixin display-flex($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin display-flex-column($justify){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: $justify;
}

@mixin background-image{
    background-position: center;
    background-size: cover;
}

@mixin display-flex-column2($justify, $align){
    display: flex;
    flex-direction: column;
    align-items: $align;
    justify-content: $justify;
}