@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Space+Grotesk:wght@300;400;500&display=swap');

/* colors */
$colorNav: #F8F4F9;
$colorMain: #3e2f5b;
$colorMain-lighter: #6d4fa7;
$colorMain-gradient1:#3e2f5b8f;
$colorMain-gradient2: #5340793b;
$colorMainTittle: #F8F4F9;
$colorBeige: #bbb09b;

/* fonts  */
$fuente: 'Space Grotesk', sans-serif;