@use '../../abstracts/variables' ;
@use '../../abstracts/mixins' ;


.carritoMain{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: variables.$colorMain;
    display: flex;
    font-family: variables.$fuente;
    font-size: 0.8rem;
    @include mixins.display-flex-column(center);
    &__tituloCarrito{
        font-size: 1.4rem;
        color: variables.$colorMainTittle;
        margin-top: 1rem;
        width: 70%;
        @include mixins.display-flex(start)
    }
    &__carritoContainer{
        width: 70%;
        max-height: 100vh;
        height: 40rem;
        margin: auto;
        margin-top: 1rem;
        // border: solid 2px black;
        // border-radius: 1rem;
        background-color: variables.$colorMainTittle;
    }
    &__wrapper{
        @include mixins.display-flex-column(center);
        height: 10rem;
        overflow: hidden;
    }
    
    &__itemDescripcion{
        @include mixins.display-flex(space-between);
        height: 7rem;
        width: 70%;
        margin: auto;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    &__imgItem{
        height: 100%;
        object-fit: cover;
    }
    &__nombreYCantidad, &__eliminarYPrecio{
        @include mixins.display-flex-column(center);
        gap: 1rem;
    }
    &__eliminarYPrecio{
        width: 75px;
    }
    &__eliminarDeCarrito{
        cursor: pointer;
        transition: 0.3s;
    }
    &__eliminarDeCarrito:hover{
        color: red;
        transform: scale(1.2);
    }
    &__contadores{
        @include mixins.display-flex(space-around);
        width: 10rem;
    }
    &__restar, &__sumar{
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background-color: variables.$colorMain;
        color: variables.$colorMainTittle;
        cursor: pointer;
        transition: 0.5s;
        border: 2px variables.$colorMain solid;
    }
    &__filasContainer{
        height: 80%;
        overflow-x: hidden;
    }
    &__vacio{
        display: none;
    }

}

.separador{
    height: 3px;
    width: 70%;
    background-color: variables.$colorBeige;
    border-radius: 40%;
    margin: auto;
}

