@use '../../abstracts/variables' ;
@use '../../abstracts/mixins' ;


.detailContainer{
    background-color: variables.$colorMain;
    height: 90vh;
    width: 100%;
    font-family: variables.$fuente;
    @include mixins.display-flex(center);
    @media screen and (max-width:750px) {
        @include mixins.display-flex-column(center); 
    }
    &__imgContainer{
        height: 45rem;
        background-color: variables.$colorMainTittle;
        border-top-left-radius: 2rem;
        @media screen and (max-width:750px) {
            width: 80%;
            height: 22rem;
            @include mixins.display-flex
            (center);
            border-bottom: 1px solid variables.$colorMain; 
        }
    }
    &__imgMain{
        height: 80%;
        background-color: antiquewhite;
        border-top-left-radius: 2rem;
        img{
            height: 100%;
            border-top-left-radius: 2rem;
        }
    }
    &__imgSelect{
        height: 20%;
        @include mixins.display-flex(center);
        img{
            height: 100%;
            padding: 1rem;
            cursor: pointer;
        }
        @media screen and (max-width:750px) {
            @include mixins.display-flex-column(center); 
            height: 30%;
        }
    }
    &__description{
        background-color: variables.$colorMainTittle;
        height: 45rem;
        width: 20rem;
        border-left: 5px solid variables.$colorMain;
        @include mixins.display-flex-column(start);
        padding-top: 2rem;
        @media screen and (max-width:750px) {
            height: 22rem;
            width: 80%;
            border-left: 0;
        }
    }
    &__name{
        font-size: 2rem;
        @media screen and (max-width:750px) {
            font-size: 1.5rem;
        }
    }
    &__price{
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 2rem;
        @media screen and (max-width:750px) {
            margin-top: 0.5rem; 
        }
    }
    &__colores,&__talles{
        @include mixins.display-flex(center);
        width: 70%;
        height: 3rem;
        gap: 1rem;
        h3{
            width: 50%;
        }
    }
    &__talles{
        margin-top: 2rem;
        @media screen and (max-width:750px) {
            margin-bottom: 2rem;
        }
    }
    &__opcionesColores, &__opcionesTalles{
        width: 50%;
        height: 100%;
        border-radius: 5px;
    }
    @media screen and (max-height:800px) and (min-width:1200px){
        height: 35rem;
        &__imgContainer, &__description{
            height: 30rem;
        }
        &__name{
            font-size: 1.5rem;
        }
        &__price{
            font-size: 1.2rem;
        }
        &__financing{
            font-size: 0.9rem
        }
        &__colores,&__talles{
            height: 2rem;
        }
        &__talles{
            margin-top: 1rem;
        }
    }
    @media screen and (max-height:800px) {
        height: 45rem;
    }
}

