@use '../../abstracts/variables' ;
@use '../../abstracts/mixins' ;

.checkoutContainer{
    height: 100vh;
    background-color: variables.$colorMain;
    @include mixins.display-flex-column(center);
    &__ruta{
        width: 70%;
        @include mixins.display-flex(start);
        color: variables.$colorMainTittle;
        h3{
            font-size: 1rem;
            font-weight: 200;
        }
        span{
            font-size: 1.2rem;
            font-weight: bold;
        }
        padding-bottom: 1rem;
    }
    &__brief{
        height: 70%;
        width: 70%;
        margin-bottom: 10rem;
        background-color: variables.$colorMainTittle;
        @include mixins.display-flex(center);
    }
    &__carritoFormulario{
        width: 50%;
        height: 80%;
    }
    &__nombreYCantidad, &__precio{
        font-size: 0.7rem;
    }
    &__formulario{
        @include mixins.display-flex-column(space-around);
        gap: 2rem;
        width: 50%;
        height: 80%;
        overflow: hidden;
    }
    &__contacto,&__datosTarjeta{
        @include mixins.display-flex-column(center);
        gap: 2rem;
    }
    &__nombres,&__datosContacto,&__tarjeta{
        @include mixins.display-flex(center);
        gap: 2rem;
        height: 2rem;
        input{
            height: 100%;
        }
    }
    &__fechaVencimientoYCuotas{
        width: 100%;
        @include mixins.display-flex(space-between);
        gap: 2rem;
    }
    &__fechaVencimiento, &__cuotas{
        @include mixins.display-flex(start);
        width: 50%;
        height: 2rem;
        select{
            width: 100%;
            height: 100%;
        }
    }
    &__fechaVencimiento{
        gap: 2rem;
    }
    &__month, &__year{
        height: 2rem;
        width: 100%;
    }
    &__comprar{
        @include mixins.display-flex(center);
        width: 50%;
        height: 2rem;
        button{
            height: 100%;
            width: 100%;
            transition: 0.5s;
            border: 1px solid black;
        }
        button:hover{
            cursor: pointer;
            background-color: variables.$colorMain;
            color: variables.$colorMainTittle;
        }
    }
    &__mensajeCompra{
        @include mixins.display-flex-column(center);
        gap: 2rem;
        h3{
            font-size: 0.8rem;
        }
    }
    &__check{
        font-size: 3rem;
        color: green;
    }
    &__volverBtn{
        height: 2rem;
        width: 4rem;
        background-color: variables.$colorMain;
        color: variables.$colorMainTittle;
        border: solid 1px black;
        transition: 0.5s ease;
    }
    &__volverBtn:hover{
        cursor: pointer;
        background-color: variables.$colorMainTittle;
        color: variables.$colorMain;
    }

    @media screen and (max-height:800px){
        height: 50rem;
        &__brief{
            height: 65%;
        }
    }
}