@use '../../abstracts/variables' ;
@use '../../abstracts/mixins' ;

.checkoutContainer{
    height: 100vh;
    background-color: variables.$colorMain;
    @include mixins.display-flex-column(center);
    @media screen and (max-width: 700px) {
        height: 85rem;
    }
    &__ruta{
        width: 70%;
        @include mixins.display-flex(start);
        color: variables.$colorMainTittle;
        h3{
            font-size: 1rem;
            font-weight: 200;
        }
        span{
            font-size: 1.2rem;
            font-weight: bold;
        }
        padding-bottom: 1rem;
    }
    &__brief{
        height: 70%;
        width: 70%;
        margin-bottom: 10rem;
        overflow-y: scroll;
        overflow-x: hidden;
        gap: 2rem;
        background-color: variables.$colorMainTittle;
        @include mixins.display-flex(center);
        @media screen and (max-width: 700px) {
            width: 95%;
            @include mixins.display-flex-column(center);
            height: 80%;
        }
    }
    &__carritoFormulario{
        width: 50%;
        height: 80%;
        @media screen and (max-width: 700px) {
            width: 95%;
            height: 30%;
        }
    }
    &__nombreYCantidad, &__precio{
        font-size: 0.7rem;
    }
    &__formulario{
        @include mixins.display-flex-column(space-around);
        gap: 2rem;
        height: 100%;
        // overflow-y: scroll;
        // overflow-x: hidden;
        @media screen and (max-width: 700px) {
            overflow: hidden;
            height: 70%;
            width: 95%;
        }
    }
    &__contacto,&__datosTarjeta{
        @include mixins.display-flex-column(center);
        gap: 2rem;
        @media screen and (max-width: 700px) {
            gap: 0.5rem;
            width: 100%;

        }
    }

    &__nombres,&__datosContacto,&__tarjeta{
        @include mixins.display-flex(center);
        gap: 2rem;
        height: 2rem;
        input{
            height: 100%;
        }
        @media screen and (max-width: 700px) {
            @include mixins.display-flex-column(center);
            justify-content: space-between;
            width: 100%;
            height: 4rem;
            gap: 0.5rem;
        }
    }

    &__campos{
        @media screen and (max-width: 700px) {
            width: 90%;
            height: 8rem;
            // background-color: red;
            input{
                height: 100%;
                width: 100%;
            }
        }
    }

    &__fechaVencimientoYCuotas{
        width: 100%;
        @include mixins.display-flex(space-between);
        gap: 2rem;
        @media screen and (max-width: 700px) {
            @include mixins.display-flex-column(center);
            width: 90%;
            gap: 0.5rem;
        }
    }
    &__fechaVencimiento, &__cuotas{
        @include mixins.display-flex(start);
        width: 50%;
        height: 2rem;
        select{
            width: 100%;
            height: 100%;
        }
        @media screen and (max-width: 700px) {
            height: 100%;
            width: 100%;
        }
    }
    &__fechaVencimiento{
        gap: 2rem;
    }
    &__month, &__year{
        height: 2rem;
        width: 100%;
        @media screen and (max-width: 700px) {
            height: 100%;
        }

    }
    &__comprar{
        @include mixins.display-flex(center);
        width: 50%;
        height: 2rem;
        button{
            height: 100%;
            width: 100%;
            transition: 0.5s;
            border: 1px solid black;
        }
        button:hover{
            cursor: pointer;
            background-color: variables.$colorMain;
            color: variables.$colorMainTittle;
        }
        @media screen and (max-width: 700px) {
            width: 90%;
            height: 3rem;
            margin-bottom: 1.5rem;
        }
    }
    &__mensajeCompra{
        @include mixins.display-flex-column(center);
        gap: 2rem;
        h3{
            font-size: 0.8rem;
        }
    }
    &__check{
        font-size: 3rem;
        color: green;
    }
    &__volverBtn{
        height: 2rem;
        width: 4rem;
        background-color: variables.$colorMain;
        color: variables.$colorMainTittle;
        border: solid 1px black;
        transition: 0.5s ease;
    }
    &__volverBtn:hover{
        cursor: pointer;
        background-color: variables.$colorMainTittle;
        color: variables.$colorMain;
    }

    // @media screen and (max-height:800px){
    //     height: 50rem;
    //     &__brief{
    //         height: 65%;
    //     }
    // }
}