@use '../../abstracts/variables' ;
@use '../../abstracts/mixins' ;

.containerImg{
    height: 60vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;

    &__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* object-position: center; */
        opacity: 0;
        transition: 1s;
        
    }
    &__active{
        opacity: 0.6;
        transition: 4s ease;
    }
    &__next, &__prev{
        position: absolute;
        top: 50%;
        /* transform: translateY(-50%); */
        /* background: none; */
        border: none;
        border-radius: 50%;
        font-size: 24px;
        cursor: pointer;
        opacity: 0.3;
        transition: 0.5s;
    }
    &__next:hover, &__prev:hover{
        opacity: 1;
    }
    &__next{
        right: 10px;
    }
    &__prev{
        left: 10px;
    }
    &__ofertas{
        font-family: variables.$fuente;
        color: variables.$colorMainTittle;
        text-shadow: 1px 1px black;
        font-size: 2.5rem;
        position: absolute;
        top: -1000%;
        right: 10%;
        opacity: 0;
        transition: 1s all;
    }
    &__activeOfertas{
        opacity: 1;
        top: 43%;
        // transition: 1s all;
    }


    @media screen and (max-height:800px){
        &__ofertas{
            font-size: 2rem;
        }
    }
  }