@use '../../abstracts/variables' ;
@use '../../abstracts/mixins' ;

.itemListMain{
    width: 100%;
    @include mixins.display-flex(center);
    &__container{
        width: 70%;
        height: 80rem;
        margin: auto;
        @include mixins.display-flex-column(center);
        gap: 1rem;
        @media screen and (max-width:900px) {
            width: 95%;
            height: 110rem;
        }
    }
    &__modelos{
        width: 100%;
        height: 60rem;
        @include mixins.display-flex(center);
        gap: 2rem;
        @media screen and (max-width:900px) {
            @include mixins.display-flex-column(center);
            height: 85rem; 
        }

    }
    &__hombreContainer,&__mujerContainer{
        width: 50%;
        height: 90%;
        overflow: hidden;
        background-color: black;
        position: relative;
        border-radius: 5%;
        @media screen and (max-width:900px) {
            width: 90%;
        }
    }
    &__mostrarTodoContainer{
        position: relative;
        margin-bottom: 2rem;
        border-radius: 2rem;
    }
    &__hombre{
        background-image: url(/public/img/generos/modeloHombre.jpg);

    }
    &__mujer{
        background-image: url(/public/img/generos/modeloMujer.jpg);
    }
    &__mostrarTodoContainer{
        width: 100%;
        height: 20rem;
        background-image: url(/public/img/generos/mostrarTodo.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
        @media screen and (max-width:900px) {
            width: 90%;
        }
    }
    &__mostrarTodo{
        background-image: url(/public/img/generos/mostrarTodo.jpg);
    }
    &__hombre,&__mujer,&__mostrarTodo{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        filter: brightness(100%);
        transition: all 0.5s ease;
        @include mixins.display-flex(end);

    }
    &__mostrarTodo{
        @include mixins.display-flex(center);
    }

    &__h3{
        position: absolute;
        top: 90%;
        right: 10%;
        z-index: 99;
        font-size: 3rem;
        font-weight: 300;
        color: variables.$colorMainTittle;
        transition: all 0.5s ease;
        @media screen and (max-width:900px) {
            font-size: 2.5rem;
        }

    }
    &__h3verTodo{
        right: 0;
        left: 0;
        top: 50%;
        text-align: center;
    }

    &__hombre:hover,&__mujer:hover,&__mostrarTodo:hover{
        transform: scale(1.1);
        filter: brightness(60%);
        cursor: pointer;
    }
    &__hombreContainer:hover,&__mujerContainer:hover{
        h3{
            top: 80%;}
    }
    &__mostrarTodoContainer:hover{
        h3{
            top: 45%;
        }
    }

    // @media screen and (max-width:800px){
    //     &__container{
    //         height: 50rem;
    //     }
    //     &__modelos{
    //         height: 30rem;
    //         // margin-top: -10rem;
    //     }
    //     &__mostrarTodoContainer{
    //         height: 15rem;
    //     }
    //     &__h3{
    //         font-size: 2rem;
    //     }
    // }
}