@use '../../abstracts/variables' ;
@use '../../abstracts/mixins' ;

.main{
    font-family: variables.$fuente;
    height: calc(70vh);
    background-image: linear-gradient(variables.$colorMain-gradient1, variables.$colorMain-gradient2), url('/img/portadaResize.jpg');
    @include mixins.background-image;
    @include mixins.display-flex(center);

    &__mainTittle{
        font-size: 6rem;
        color: variables.$colorMainTittle;
        text-shadow: 2px 1px black;
    }
}