@use '../abstracts/variables' ;
@use '../abstracts/mixins' ;

.buscadorContainer{
    height: 2.5rem;
    width: 50%;
    @include mixins.display-flex(center);
    &__input{
        height: 100%;
        width: 90%;
        padding: 1rem;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
    &__input:focus{
        outline: none;
    }
    &__iconContainer{
        background-color: white;
        height: 2.5rem;
        @include mixins.display-flex(center);
        width: 10%;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    i:hover{
        cursor: pointer;
    }
    transition: all 0.3s;
    @media screen and (max-width:750px) {
        // display: none;
        position: absolute;
        left: -700px;
        top: 100px;
        &__input{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &__iconContainer{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    &__active{
        width: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

}
