@use '../abstracts/variables' ;
@use '../abstracts/mixins' ;

.nav{
    background-color: variables.$colorNav;
    font-family: variables.$fuente;
    height: 5rem;
    font-size: 1rem;
    @include mixins.display-flex(space-around);

    &__logoContainer{
        font-size: 2rem;
    }

    &__listaNav{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        }
        &__itemLista{
            // font-size: 1rem;   
    }
}