@use '../abstracts/variables' ;
@use '../abstracts/mixins' ;

.nav{
    background-color: variables.$colorNav;
    font-family: variables.$fuente;
    height: 5rem;
    font-size: 1rem;
    @include mixins.display-flex(space-around);

    &__brandNameContainer{
        font-size: 2rem;
    }

    &__listaNav{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        }
    &__itemLista{
        transition: 0.5s;
        position: relative;
    }
    &__itemLista:hover{
        transform: scale(1.1);
    }
    &__itemLista::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0; 
        height: 2px; 
        background-color: variables.$colorMain-lighter; 
        transition: width 0.3s ease-in-out; 
        transform-origin: left;
      }
    &__itemLista:hover::after{
        width: 100%;
    } 
}