@use '../abstracts/variables' ;
@use '../abstracts/mixins' ;

.nav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: variables.$colorNav;
    font-family: variables.$fuente;
    height: 6.5rem;
    font-size: 1rem;
    @include mixins.display-flex-column(center);
    &__navWidth{
        @include mixins.display-flex(space-between);
        height: 60%;
        width: 70%;
        margin: auto;
    }

    &__brandNameContainer{
        font-size: 2rem;
    }

    &__listaNav{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        }
    &__itemLista{
        transition: 0.5s;
        position: relative;
    }
    &__itemLista::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0; 
        height: 2px; 
        background-color: variables.$colorMain-lighter; 
        transition: width 0.3s ; 
        transform-origin: left;
      }
    &__itemLista:hover::after{
        width: 100%;
    }
    &__separadorNav{
        height: 3px;
        width: 70%;
        margin: auto;
        border-radius: 40%;
        background-color: variables.$colorGris;
    } 
    &__filtrosContainer{
        background-color: variables.$colorNav;
        height: 35%;
        @include mixins.display-flex(center)
    }
    @media screen and (max-height:800px) {
        height: 5rem;
        border-bottom: solid 2px variables.$colorMain;
        &__filtrosContainer{
            height: 30%;

        }
        &__itemLista{
            font-size: 0.9rem;}
    }
}
